name: Release Build Confirmation

on:
  push: 
    branches:
      - main
  pull_request: 
    branches:
      - main
env:
  CARGO_TERM_COLOR: always

jobs:
  release_compile:
    name: ReleaseCompile
    runs-on: ubuntu-latest
    steps:
      - uses: wykies/checkout@v3
      - uses: wykies/setup-rust-toolchain@v1
      - name: Run Release Compile
        run: cargo check --all-features --release